@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:100,200,300,400,500,600,700&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  color: whitesmoke;
  background-color: black;
}

/*-----------------------------Nav Bar------*/
.navbar-light .navbar-nav .nav-link {
  color: whitesmoke;
  letter-spacing: 3px;
  font-size: 20px;
  font-weight: lighter;
  text-align: bottom;
}

.bg-light {
  background-color:transparent !important;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: rgb(251, 211, 255);
}

.navbar-nav a:hover {
  color: rgb(251, 211, 255) !important;
  -o-transition: 0.8s;
  -ms-transition: 0.8s;
  -moz-transition: 0.8s;
  -webkit-transition: 0.8s;
}

.navbar-toggler {
    background-color: white;
    border: 1px solid white;
}
.navbar-brand {
    padding: 0;
    margin: 0;
    border: 0;
}
/*-----------------------------Hero Vid------*/
.hero-vid {
    width: 100%;
}